.main {
  display: grid;
  grid-template-rows:
    [first-start] 66.8rem [first-end sections-start] repeat(
      3,
      minmax(min-content, 75vh)
    )
    [sections-end];
  @include mainGridTemplate;
  overflow: hidden;
  row-gap: 10rem;
  &.active {
    position: relative;
    top: 9rem;
  }
}
