.btn {
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  background: none;
  color: $text-color;
  font-size: 1.2rem;
  border: 0;
  width: 10rem;

  letter-spacing: 0.15rem;
  border-radius: 0.44rem;
  padding: 1rem 2rem;
}
