// Mobile first
.header {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  text-transform: uppercase;
  width: 100%;
  max-width: 100vw;
  padding: 3rem 9%;
  // Active with Mobile size
  &.active {
    height: 100vh;
    max-height: 100vh;
    background-image: linear-gradient(
        to left bottom,
        rgba($color: $very-dark-blue, $alpha: 0.8),
        rgba($color: $very-dark-blue, $alpha: 0.8)
      ),
      linear-gradient(
        to left bottom,
        rgba($color: $soft-blue, $alpha: 0.77),
        rgba($color: $soft-blue, $alpha: 0.77)
      );
  }
  &__logo-wrapper {
    &.active {
      svg {
        path:first-child {
          fill: $text-color;
        }
        path:last-child {
          fill: $very-dark-blue;
        }
        circle {
          fill: #fff;
        }
      }
    }
  }
  &__hamburger-icon {
    cursor: pointer;
    display: none;
    &.active {
      display: block;
    }
  }
  &__close-icon {
    cursor: pointer;

    display: none;
    &.active {
      display: block;
    }
  }
  @media screen and (min-width: 768px) {
    padding: 6rem 9%;
    height: 5rem;
    max-height: 5rem;
    align-items: center;
    &__hamburger-icon,
    &__close-icon {
      display: none;
    }
    // Remove Active setting with Mobile size
    &.active {
      height: 5rem;
      max-height: 5rem;
      background: unset;
    }
  }
}
.nav {
  // Menu for small size
  &--menu {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    width: 77%;
    opacity: 0.1;
    display: none;
  }
  &__navlist {
    text-align: center;
    li {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      border-top: 0.15rem solid rgba($color: $grayish-blue, $alpha: 0.4);
      &:last-child {
        border-bottom: 0.1rem solid rgba($color: $grayish-blue, $alpha: 0.4);
        margin-bottom: 5rem;
      }
    }
  }
  // Links
  &__navlink {
    font-size: $default-font-size;
    color: $text-color;
    letter-spacing: 0.2rem;
  }
  // Button
  &__btn {
    width: 100%;
    outline: 0.22rem solid $text-color;
    background-color: transparent;
  }
  // Menu active
  &.active {
    display: block;
    top: 35%;
    opacity: 1;
  }
  // Regular Nav for large size
  @media screen and (min-width: 767px) {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    &__navlist {
      li:nth-of-type(n + 1) {
        padding: 0;
        margin: 0;
        border: 0;
        display: inline-block;
        margin-left: 2.5rem;
      }
    }
    &__navlink {
      font-size: 1.2rem;
      font-weight: 700;
      color: $very-dark-blue;
    }
    &__btn {
      background-color: $soft-red;
      box-shadow: -0.1rem 0.25rem 0.45rem rgba($color: $soft-red, $alpha: 0.5);
      width: 10rem;
      margin-left: 5rem;
      outline: 0;
    }
  }
}
.main {
  display: grid;
  grid-template-rows:
    [first-start] 66.8rem [first-end sections-start] repeat(
      3,
      minmax(min-content, 75vh)
    )
    [sections-end];
  @include mainGridTemplate;
  overflow: hidden;
}
.hero {
  grid-row: first-start / first-end;
  grid-column: center-start / center-end;
  display: grid;
  &__content {
    order: 2;
    text-align: center;
  }
  &__heading {
    margin: 2.5rem 0;
    span {
      display: block;
    }
  }
  &__paragraph {
    margin-bottom: 3rem;
  }
  &__cta {
    button:nth-of-type(n + 1) {
      padding: 1.4rem 1rem;
      text-transform: unset;
      font-size: clamp(1.1rem, 1vw, 1.8rem);
      &:first-child {
        margin-right: 1rem;
      }
      &:last-child {
        color: $very-dark-blue;
      }
    }
  }
  &__image-wrapper {
    order: 1;
    position: relative;
    &::after {
      content: "";
      background-color: #5368df;
      color: #5368df;
      position: absolute;
      top: 22.5%;
      left: 25%;
      z-index: -1;
      height: min(80%, 35rem);
      width: min(90%, 70rem);
      border-top-left-radius: 15rem;
      border-bottom-left-radius: 18rem;
    }
  }
  &__image {
    height: min(100%, 44.6rem);
    width: min(100%, 65.7rem);
  }
  @media screen and (min-width: 767px) {
    grid-column: center-start/ all-end;
    display: grid;
    grid-template-columns: [content-start] 45vw [content-end image-start] 55vw [image-end];
    &__content {
      order: 1;
      grid-column: content-start / content-end;
      text-align: start;
      margin-top: 15rem;
    }
    &__cta {
      button:nth-of-type(n + 1) {
        padding: 1.4rem 2rem;
        &:first-child {
          margin-right: 2rem;
        }
      }
    }
    &__image-wrapper {
      order: 2;
      grid-column: image-start / image-end;
      margin-top: 7rem;
    }
  }
}
.features {
  grid-column: center-start/center-end;
  text-align: center;
  margin-bottom: 10rem;
  &__intro {
    :first-child {
      margin-bottom: 2rem;
    }
  }
  &__paragraph {
    max-width: 75vw;
    margin: 1.5rem auto;
  }
  &__content {
    .tabs-navigation {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 3rem 0 5rem;
      &__tab {
        position: relative;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        color: $grayish-blue;
        width: 100%;
        &:first-child::before,
        &::after {
          content: "";
          position: absolute;
          bottom: 0; // The difference between First and others
          left: 0;
          width: 100%;
          height: 0.2rem;
          background-color: rgba($color: $grayish-blue, $alpha: 0.4);
        }
        &:first-child::before {
          top: 0;
        }
        &:hover::after {
          background-color: rgba($color: $grayish-blue, $alpha: 0.4);
        }
        &.active {
          color: $very-dark-blue;
        }
        &.active:hover::after {
          background-color: rgba($color: $grayish-blue, $alpha: 0.4);
        }
        &:nth-child(1).active ~ span {
          transform: translateY(5rem * 1 - 0.4rem) translateX(-50%);
          animation: traversal-1 0.6s ease-in-out 0s 1 normal forwards;
        }
        &:nth-child(2).active ~ span {
          transform: translateY(5rem * 2 - 0.2rem) translateX(-50%);
          animation: traversal-2 0.6s ease-in-out 0s 1 normal forwards;
        }
        &:nth-child(3).active ~ span {
          transform: translateY(5rem * 3) translateX(-50%);
          animation: traversal-3 0.6s ease-in-out 0s 1 normal forwards;
        }
      }
      &__indicator {
        position: absolute;
        left: 50%;
        width: 5%;
        height: 0.44rem;
        opacity: 1;
        transition: all 0.44s;
        background-color: rgba($color: $soft-red, $alpha: 0.9);
      }
      @keyframes traversal-1 {
        0% {
          width: 0%;
          opacity: 0;
        }
        100% {
          width: 50%;
          opacity: 1;
          transform: translateY(5rem * 1 - 0.4rem) translateX(-50%);
        }
      }
      @keyframes traversal-2 {
        0% {
          width: 0%;
          opacity: 0;
        }
        100% {
          width: 50%;
          opacity: 1;
          transform: translateY(5rem * 2 - 0.2rem) translateX(-50%);
        }
      }
      @keyframes traversal-3 {
        0% {
          width: 0%;
          opacity: 0;
        }
        100% {
          width: 50%;
          opacity: 1;
          transform: translateY(5rem * 3) translateX(-50%);
        }
      }
    }
    .tabs-content {
      &--body {
        // Not Active
        display: none;
        visibility: hidden;
        &__image-wrapper {
          position: relative;
          margin-bottom: 8rem;
          &::after {
            content: "";
            background-color: #5368df;
            color: #5368df;
            position: absolute;
            top: 33%;
            right: 25%;
            z-index: -1;
            height: min(80%, 30rem);
            width: min(95%, 80rem);
            border-top-right-radius: 15rem;
            border-bottom-right-radius: 18rem;
          }
        }
        img {
          height: clamp(34.1rem, 37rem, 41rem);
        }
        &:nth-child(1) img {
          // height: min(100%, 34.6rem);
          width: min(100%, 53.6rem);
        }
        &:nth-child(2) img {
          // height: min(100%, 41.6rem);
          width: min(100%, 47.8rem);
        }
        &:nth-child(3) img {
          // height: min(100%, 38rem);
          width: min(100%, 44rem);
        }
        &__text {
          &--heading {
            margin-bottom: 2rem;
          }
          &--btn {
            display: none;
            font-size: clamp(1.2rem, 1vw, 1.6rem);
          }
          &--paragraph {
            max-width: 75vw;
            margin: 1.5rem auto;
          }
        }
        &.active {
          display: block;
          visibility: visible;
        }
      }
    }
  }

  @media screen and (min-width: 767px) {
    grid-column: all-start/all-end;
    display: grid;
    @include mainGridTemplate;
    &__intro {
      grid-column: col-start 3 / col-start 9;
    }
    &__content {
      grid-column: all-start/center-end;
      display: grid;
      @include mainGridTemplate;

      .tabs-navigation {
        grid-column: col-start 2 / col-end 10;
        flex-direction: row;
        &__tab {
          &:first-child::before {
            display: none;
          }
          &:hover::after {
            background-color: rgba($color: $grayish-blue, $alpha: 0.8);
          }
          &.active:hover::after {
            background-color: rgba($color: $grayish-blue, $alpha: 0.4);
          }
          &:nth-child(1).active ~ span {
            transform: translateY(2.35rem) translateX(0%);
            animation: unset;
          }
          &:nth-child(2).active ~ span {
            transform: translateY(2.35rem) translateX(100%);
            animation: unset;
          }
          &:nth-child(3).active ~ span {
            transform: translateY(2.35rem) translateX(203%);
            animation: unset;
          }
        }
        &__indicator {
          left: 0%;
          width: 33%;
        }
      }
      .tabs-content {
        grid-column: all-start / -1;
        &--body {
          &.active {
            display: grid;
            @include mainGridTemplate;
          }
          &__image-wrapper {
            grid-column: all-start/col-end 7;
          }
          &__text {
            grid-column: col-start 8 / -1;
            text-align: start;
            position: relative;
            top: 22%;
            &--paragraph {
              margin-bottom: 2rem;
            }
            &--btn {
              display: inline-block;
            }
          }
        }
      }
    }
  }
}
.download {
  grid-column: center-start / center-end;
  display: grid;
  @include mainGridTemplate;
  text-align: center;
  &__intro {
    grid-column: center-start / center-end;
    margin-bottom: 5rem;
  }
  &__heading {
  }
  &__paragraph {
    max-width: 75vw;
    margin: 1.5rem auto;
  }
  &__cards {
    grid-column: center-start / center-end;
    display: grid;
    grid-auto-rows: 1fr;
    justify-self: center;
    align-self: center;
    row-gap: 3rem;
    .card {
      // width: max(, 22.5vw, 25vw);
      max-width: 27rem;
      height: 32rem;
      display: grid;
      grid-template-rows: repeat(auto-fill, 1fr);
      justify-items: center;
      place-content: space-around;
      padding: 2rem 0.1rem;
      border-radius: 0.47rem;
      box-shadow: 0.25rem 1.2rem 2.5rem rgba($color: $grayish-blue, $alpha: 0.1),
        -0.3rem 1.2rem 1rem rgba($color: $very-dark-blue, $alpha: 0.1);
      background-color: rgba($color: #fffc, $alpha: 0.8);
      &__version {
        font-size: clamp(1.2rem, 1.2vw, 2vw);
        color: rgba($color: $grayish-blue, $alpha: 0.8);
      }
      &__dots-img {
        max-width: 100%;
      }
      &__btn {
        text-transform: unset;
      }
    }
  }
  @media screen and (min-width: 767px) {
    margin-bottom: 20rem;
    &__paragraph {
      max-width: 47vw;
    }
    &__cards {
      grid-column: col-start 1 / col-end 10;
      grid-template-rows: repeat(10, [row-start] 4vh [row-end]);
      grid-auto-columns: 1fr;
      column-gap: 4rem;
      row-gap: unset;
      place-self: unset;
      .card:nth-child(1) {
        grid-row: row-start 1 / -1;
      }
      .card:nth-child(2) {
        grid-row: row-start 2 /-1;
      }
      .card:nth-child(3) {
        grid-row: row-start 3/-1;
      }
    }
  }
}
.fqa {
  grid-column: center-start/center-end;
  text-align: center;
  &__intro {
  }
  &__paragraph {
    max-width: 70vw;
    margin: 2.5rem auto;
  }
  &__questions {
    text-align: start;
    .accordion-question {
      padding: 1rem 1.2rem 0.5rem 0;
      margin-bottom: 1rem;
      border-bottom: 0.15rem solid rgba($color: $grayish-blue, $alpha: 0.2);
      &__summary {
        color: $very-dark-blue;
        &::after {
          position: relative;
          display: block;
          content: "";
          left: 100%;
          top: -1.5rem;
          width: 1rem;
          height: 1rem;
          border: 0.2rem solid $soft-blue;
          border-left: 0;
          border-top: 0;
          transform: rotate(45deg);
          transition: all 0.3333s;
        }
        &.active ~ .accordion-question__answer {
          opacity: 1;
          transform: translateY(0);
          display: block;
          visibility: visible;
        }
        &.active {
          &::after {
            border-color: $soft-red;
            transform: rotate(225deg);
          }
        }
      }
      &__answer {
        padding: 1.2rem 0;
        display: none;
        visibility: hidden;
        transform: translateY(-5rem);
        opacity: 0.4;
        transition: all 0.3s;
      }
    }
  }
  @media screen and (min-width: 767px) {
    grid-column: col-start 3 / col-end 8;
    &__paragraph {
      margin: 3.5rem auto;
    }
    .accordion-question {
      &:first-of-type {
        padding-top: 1rem;
        border-top: 0.15rem solid rgba($color: $grayish-blue, $alpha: 0.2);
      }
    }
  }
}
.footer {
  background-color: #a9d9a9;
  list-style-type: circle;
}
