@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");

$soft-blue: hsl(231, 69%, 60%);
$soft-red: hsl(0, 94%, 66%);
$grayish-blue: hsl(229, 8%, 60%);
$very-dark-blue: hsl(229, 31%, 21%);
$text-color: #fafafa;
$default-font-size: 1.8rem;
$default-font-weight: 400;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background-color: #fafafa;
  user-select: none;
  font-family: "Rubik", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  width: 100%;
  max-width: 100%;
  position: relative;
  &::-webkit-scrollbar {
    width: 0.75rem;
  }
  &::-webkit-scrollbar-track {
    background-color: #ccc;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $very-dark-blue;
    border-radius: 0.75rem;
  }
}
@mixin mainGridTemplate {
  grid-template-columns:
    [all-start] 9% [center-start] repeat(10, [col-start] (82% / 10) [col-end])
    [ center-end ] 9% [all-end];
}
a,
a:link,
a:visited {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
li {
  cursor: pointer;
}

.u-primary-heading {
  font-size: clamp(2.7rem, 3.8vw, 4vw);
  font-weight: 700;
  color: $very-dark-blue;
}
.u-secondary-heading {
  font-size: clamp(2.1rem, 2.5vw, 3.5vw);
  font-weight: 700;
  color: $very-dark-blue;
}
.u-tertiary-heading {
  font-size: clamp(1.8rem, 1.8vw, 3vw);
  font-weight: 600;
  color: $very-dark-blue;
}
h4 {
  font-size: clamp(1.4rem, 2vw, 1.6vw);
  font-weight: 500;
  color: $very-dark-blue;
}
.u-primary-paragraph {
  font-size: clamp(1.4rem, 1.8vw, 2vw);
  font-weight: 300;
  color: $grayish-blue;
  line-height: 1.55;
}
